html,
body {
    font-size: 20px;
    color: #333;
}

.wrap {
    margin: 0 auto;
    width: 960px;
    box-sizing: border-box;
}

a {
    color: #333;
    text-decoration: none;
}

a:visited {
    color: #999;
}

a:hover,
a:active {
    color: #c00;
}

.header {
    border-bottom: 1px solid #eee;
}

.header .title {
    padding: 20px 0;
}

.header .logo {
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    background: #333;
    border: 1px solid #333;
    border-radius: 4px;
    text-align: center;
    color: #fff;
}

.header .text {
    font-size: 30px;
    font-weight: 600;
    vertical-align: bottom;
}

.nav {
    padding: 12px 0;
    background: #f9f9f9;
    border-bottom: 1px solid #f1f1f1;
    text-align: right;
    font-size: 16px;
}

.nav a:visited {
    color: #333;
}

.nav a:hover,
.nav a:active {
    color: #c00;
}

.posts {
    margin-bottom: 10px;
}

.post-item {
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

.post-item .post-title {
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: 600;
}

.post-item .post-desc {
    margin: 0 0 10px;
    font-weight: 300;
    font-size: 16px;
    color: #999;
}

.post-item .post-excerpt {
    font-size: 16px;
    color: #999;
}

.footer {
    margin-top: 30px;
    text-align: center;
    font-size: 16px;
    color: #ccc;
}

.footer p {
    margin: 10px 0;
}

.footer a,
.footer a:visited,
.footer a:hover,
.footer a:active {
    color: #ccc;
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    .wrap {
        margin: 0;
        padding: 0 10px;
        width: 100%;
    }
    .post-item {
        padding: 10px 0;
    }
}